body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-family: "Permanent Market", cursive;
    font-weight: bold;
    padding: 25px 0;
}

.text-centered {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

#gif-buttons button {
    display: block;
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    background-color: #779ecb;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 12px;
}

.gif {
    max-width: 300px;
    display: inline-block;
    margin: 10px;
}

img {
    width: 100%;
}

form {
    padding-bottom: 15px;
}

form .row {
    margin-left: 0px;
    margin-right: 0px;
}

form .row div[class^="col-sm-"] {
    padding-left: 0px;
    padding-right: 0px;
}

input {
    width: 100%;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

form button {
    width: 100%;
    height: 25px;
    background-color: #779ecb;
    color: #fff;
    font-size: 14px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}